/* stylelint-disable selector-class-pattern */

/* Mobile Rider Player Styles */

.mobile-rider {
  position: relative;
  z-index: 1;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}
    
.mobile-rider > :not(.mobile-rider-player) {
  display: none;
}

.mobile-rider .mobile-rider-container.is-hidden {
  display: none;
}

.mobile-rider .mobile-rider-container.isASL {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
}

.mobile-rider .mobile-rider-container video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
