.youtube-stream {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  margin: 0 auto;
}

.youtube-video-container {
  flex: 1 1 75%;
  position: relative;
  padding-bottom: 56.25%; /* 16:9 ratio */
}

.youtube-chat-container {
  flex: 1 1 25%;
  position: relative;
}

.frame-container {
  width: 100%;
  height: 100%;
  padding-bottom: 0;
  position: relative;
}

.youtube-video,
.youtube-chat {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
