/* 
 * Put project specific base styles here.
 *
 * Note: The proect does not load this file.
 *       You will need to load these using scripts.js.
 * 
 *
 */

 :root {
  --stroke-color-divider: #6E6E6E;
  --color-red: #EB1000;
}

main a.con-button.no-event {
  user-select: none;
  pointer-events: none;
  opacity: 0.5;
}

a.con-button.blue,
a.con-button.black {
  border: 2px solid var(--color-gray-800);
  background-color: var(--color-gray-800);
  color: var(--color-white);
  transition: background-color 0.2s, border-color 0.2s;
}

a.con-button.blue:hover,
a.con-button.blue:focus {
  border: 2px solid var(--color-black);
  background-color: var(--color-black);
}

a.con-button.rsvp-btn {
  display: flex;
  gap: 4px;
  align-items: center;
  justify-content: center;
}

/* FIXME: workaround for fill button */
.dark a.con-button.blue {
  border: 2px solid var(--color-white);
  background-color: var(--color-white);
  opacity: 0.9;
  color: var(--color-black);
  transition: opacity 0.2s;
}

.dark a.con-button.blue:hover,
.dark a.con-button.blue:focus {
  opacity: 1;
}

a.con-button[href^='#rsvp-form'].disabled {
  opacity: 0.5;
  pointer-events: none;
}

svg.ecc-icon {
  vertical-align: text-top;
}

svg.ecc-icon.mr-4 {
  margin-right: 4px;
}

.preserve-format {
  white-space: pre-wrap;
}

fieldset {
  border: none;
  padding: 0;
}

.section:has(> .section-metadata:only-child) {
  display: none;
}

.dark a:any-link {
  color: var(--color-white);
}
