/* 
 * Put project specific base styles here.
 *
 * Note: The proect does not load this file.
 *       You will need to load these using scripts.js.
 * 
 *
 */

 :root {
  --stroke-color-divider: #6E6E6E;
  --color-red: #EB1000;
}

main a.con-button.no-event {
  user-select: none;
  pointer-events: none;
  opacity: 0.5;
}

a.con-button.black {
  background-color: var(--color-black);
  color: var(--color-white);
}

a[href^='#rsvp-form'].disabled {
  opacity: 0.5;
  pointer-events: none;
}

img.ecc-icon {
  vertical-align: middle;
  margin-right: 8px;
}

.preserve-format {
  white-space: pre-wrap;
}

fieldset {
  border: none;
  padding: 0;
}

.section:has(> .section-metadata:only-child) {
  display: none;
}
