/* stylelint-disable custom-property-pattern */
.profile-cards {
  margin: auto;
}

.profile-cards.with-carousel {
  margin: auto;
}

.profile-cards h2 {
  text-align: center;
}

.profile-cards .carousel-slides {
  align-items: stretch;
}

.profile-cards .cards-wrapper.c1up .card-container.card-1up,
.profile-cards .cards-wrapper.c1up .card-container.card-1up-left,
.profile-cards .cards-wrapper.c1up .card-container.card-1up-right {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.profile-cards .card-content {
  display: flex;
  padding: 20px 20px 24px;
  flex-direction: column;
  justify-content: space-between;
  flex: 1 0 0;
  align-self: stretch;
}

.profile-cards .cards-wrapper .card-container {
  margin: 0 16px;
  border: 1px solid var(--color-gray-200);
  flex: 1 1 0;
}

.profile-cards.with-carousel .cards-wrapper .card-container {
  min-width: calc(100% - 34px);
}

.profile-cards .cards-wrapper .card-container.card-double {
  display: flex;
  height: 593px;
  width: auto;
  min-width: 378.67px;
  max-width: 584px;
  flex-direction: column;
  flex: 1 0 0;
}

.profile-cards .cards-wrapper.cdouble .card-container .card-content {
  display: flex;
  padding: 16px 24px;
  flex-direction: column;
  justify-content: space-between;
  flex: 1 0 0;
  align-self: stretch;
}

.profile-cards .cards-wrapper.c1up .card-container .card-content {
  display: flex;
  padding: 16px 24px;
  flex-direction: column;
  justify-content: space-between;
  flex: 1 0 0;
  align-self: stretch;
}

.profile-cards .cards-wrapper.c3up .card-container .card-content {
  display: flex;
  padding: 20px 20px 24px;
  flex-direction: column;
  justify-content: space-between;
  flex: 1 0 0;
  align-self: stretch;
}

.profile-cards .cards-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  overflow: hidden;
  gap: 32px;
}

.profile-cards.with-carousel .cards-wrapper {
  flex-direction: unset;
}

.profile-cards .card-container {
  flex-direction: column;
  display: flex;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.profile-cards .card-container.card-double .card-image-container, .card-image-container {
  border-radius: 10px 10px 0 0;
  flex: none;
  width: auto;
  height: 306px;
}

.profile-cards .card-container .card-image-container,
.profile-cards .card-image-container {
  flex: none;
  width: auto;
  height: 213px;
}

.profile-cards .card-1up .card-image-container,
.profile-cards .card-1up-right .card-image-container {
  width: 100%;
}

.profile-cards .card-1up-right .card-image-container img {
  border-radius: 0 10px 10px 0;
}

.profile-cards .card-1up-left .card-image-container img {
  border-radius: 10px 0 0 10px;
}

.profile-cards .card-image-container {
  position: relative;
}

.profile-cards .card-image-container img {
  width: 100%;
  height: 100%;
  border-radius: 10px 10px 0 0;
  object-fit: cover;
}

.profile-cards .card-text {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  align-self: stretch;
  overflow: hidden;
  color: var(--Text-text, #2C2C2C);
  text-overflow: ellipsis;
  font-size: var(--type-body-xs-size);
  font-family: var(--body-font-family);
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
}

.profile-cards .card-title {
  font-size: var(--type-body-xs-size);
  line-height: var(--type-body-xs-lh);;
  font-family: var(--body-font-family);
  font-style: normal;
  font-weight: 400;
  margin-top: 0;
}

.profile-cards .card-name {
  margin-top: -6px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
}

.profile-cards .card-desc {
  color: var(--Text-text, #2C2C2C);
  font-family: var(--body-font-family);
  font-size: var(--type-body-xxs-size);
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  margin-top: -15px;
}

.profile-cards .card-social-icons {
  display: flex;
  align-items: flex-end;
  gap: 17px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.profile-cards .card-social-icon {
  list-style: none;
}

.profile-cards .card-social-icon a {
  color: var(--color-black);
}

.profile-cards .social-icon {
  display: block;
  width: 20px;
  height: 20px;
}

.profile-cards .card-container.card-1up {
  display: flex;
  align-items: flex-start;
}

@media screen and (min-width: 900px) {
  .profile-cards,
  .profile-cards.with-carousel {
    max-width: 1232px;
    margin: auto;
  }

  .profile-cards .carousel-wrapper {
    max-width: 1232px;
    margin: auto;
  }

  .profile-cards .cards-wrapper {
    gap: 0;
    flex-direction: row;
  }

  .profile-cards .cards-wrapper.c1up .card-container.card-1up,
  .profile-cards .cards-wrapper.c1up .card-container.card-1up-left {
    flex-direction: row;
  }

  .profile-cards .cards-wrapper.c1up .card-container.card-1up-right {
    flex-direction: row-reverse;
  }

  .profile-cards .cards-wrapper.c1up .card-text-container {
    margin-top: 26.5px;
    margin-left: 15px;
  }

  .profile-cards .cards-wrapper.c1up .card-social-icons {
    margin-left: 15px;
  }

  .profile-cards .card-1up .card-image-container,
  .profile-cards .card-1up-right .card-image-container {
    width: 576px;
    height: 396px;
    border-radius: 10px 0 0 10px;
  }
  
  .profile-cards  .carousel-plugin .carousel-previous {
    left: 2px;
  }

  .profile-cards  .carousel-plugin .carousel-next {
    right: 2px;
  }

  .profile-cards .cards-wrapper .card-container {
    height: 610px;
  }

  .profile-cards.with-carousel .cards-wrapper .card-container {
    min-width: 377px;
  }
}
