.bento-cards {
  color: var(--color-black);
  display: flex;
  max-width: 308px;
  margin: 40px auto;
  position: relative;
}

.bento-cards.carousel-plugin .carousel-wrapper {
  padding: 40px 0;
}

.bento-cards .bento-cards-wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 12px;
  gap: 24px;
  flex: 1 1 0;
  box-sizing: border-box;
  width: 276px;
  min-width: 276px;
  height: 390px;
  overflow: hidden;
}

.bento-cards .carousel-slides .bento-cards-wrapper {
  margin: 0 16px;
}

.bento-cards .bento-card {
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--color-white);
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

.bento-cards .bento-card-content {
  padding: 16px;
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
}

.bento-cards .multi-card-2 .bento-card-content {
  flex-basis: 100%;
}

.bento-cards .bento-card p {
  margin: 0;
  font-size: var(--type-body-s-size);
}

.bento-cards .bento-card p.bento-mnemonics {
  display: flex;
  gap: 8px;
  align-items: center;
  margin: 0;
  font-size: var(--type-body-xxs-size);
}

.bento-cards .bento-card .bento-mnemonics picture img {
  height: 40px;
  width: 40px;
  display: block;
}

.bento-cards .bento-card h3 {
  margin: 0;
  font-size: var(--type-heading-s-size);
  line-height: var(--type-heading-s-lh);
}

.bento-cards .bento-card .bento-background {
  flex-basis: 60%;
  height: 50%;
}

.bento-cards .bento-card .bento-background picture img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: bottom;
}

.bento-card .bento-card-content .action-area {
  flex-grow: 1;
  display: flex;
  align-items: flex-end;
}

.bento-cards .bento-card .con-button.outline {
  border: 2px solid var(--text-color);
  color: var(--text-color);
}

@media screen and (min-width: 900px) {
  .bento-cards {
    margin: 80px auto;
    max-width: 1200px;
    overflow: auto;
  }

  .bento-cards.carousel-plugin .carousel-wrapper {
    padding: 0;
  }
}
