.events-form {
  --input-border-radius: 4px;
  
  border-radius: var(--card-border-radius-l);
  filter: var(--image-filter-drop-shadow-small);
  border: solid 1px var(--bg-color-grey);
  box-sizing: border-box;
  max-width: 800px;
  margin: 0 auto;
  color: #2C2C2C;
  transition: opacity 0.4s;
}

.events-form.loading {
  opacity: 0;
  pointer-events: none;
}

.events-form a.loading {
  opacity: 0.5;
  pointer-events: none;
}

.events-form .event-form-hero {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  gap: 16px;
  padding: var(--spacing-xl);
  background-color: var(--color-black);
  color: var(--color-white);
}

.events-form .event-form-hero h4 {
  margin: 0;
}

.events-form .event-form-hero > div {
  flex: 1 1 0;
}

.events-form .event-form-hero img {
  display: block;
}

.events-form form {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: var(--spacing-xl);
  padding-top: 24px;
  box-sizing: border-box;
}

.events-form form .first-form-section {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 24px;
}

.events-form .event-form-hero h2 {
  margin: 0;
  font-size: var(--type-heading-l-size);
}

.events-form .event-form-hero h3 {
  font-size: var(--type-heading-m-size);
}

.events-form :is(input, textarea, select) {
  font-family: var(--body-font-family);
  border: solid 1px var(--color-gray-500);
  padding: var(--spacing-xxs) var(--spacing-xs);
  width: 100%;
  box-sizing: border-box;
  border-radius: var(--input-border-radius);
  font-size: var(--type-body-xs-size);
  line-height: var(--type-body-l-lh);
}

.events-form :is(input, textarea, select):disabled {
  font-size: var(--type-body-l-size);
  font-weight: 700;
  border: none;
  color: var(--color-black);
  background: none;
  padding-left: 0;
}

.events-form textarea {
  min-height: 100px;
  resize: vertical;
}

.events-form :is(input, textarea, select):hover {
  border-color: var(--color-gray-600);
}

.events-form :is(input, textarea, select):is(:focus, :focus-visible, :focus-within, :active) {
  border-color: var(--color-gray-700);
  outline-color: var(--color-accent);
  outline-offset: 4px;
}

.events-form select {
  appearance: none;
  background: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9Ii01OCAyOSAzMiAzNCIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAtNTggMjkgMzIgMzQiIHhtbDpzcGFjZT0icHJlc2VydmUiPjxwYXRoIGQ9Im0tNTYgNDMgNi0xMiA2IDEyaC0xMnpNLTQ0IDQ5bC02IDEyLTYtMTJoMTJ6IiBmaWxsPSIjNTM1MzUzIi8+PC9zdmc+') no-repeat 128% 54%;
  background-color: var(--color-white);
  background-position: 98% 50%;
  background-size: 1em 1em;
}

.events-form label {
  display: block;
  padding-bottom: var(--spacing-xxs);
  box-sizing: border-box;
  font-size: var(--type-body-s-size);
  line-height: var(--type-body-s-lh);
  font-weight: 600;
}

.events-form label.required::after {
  content: "*";
  color: var(--color-black);
  padding-left: var(--spacing-xxxs);
}

.events-form .field-wrapper {
  margin-bottom: var(--spacing-xxs);
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: var(--spacing-xs) 0;
}

.events-form .field-group-wrapper {
  flex-direction: column;
}

.events-form .events-form-heading-wrapper {
  justify-content: center;
  margin: 0;
}

.events-form .field-wrapper.hidden {
  display: none;
}

.events-form .check-item-wrap {
  position: relative;
  display: inline-flex;
  align-items: center;
  width: 100%;
}

.events-form .check-item-input {
  opacity: 0;
  position: absolute;
  inset: 0;
  cursor: pointer;
  z-index: 1;
}

.events-form .check-item-button {
  position: relative;
  inline-size: 14px;
  block-size: 14px;
}

.events-form .check-item-button::before {
  content: '';
  display: block;
  background-color: var(--color-white);
  box-sizing: border-box;
  border-style: solid;
  border-width: 2px;
  border-color: var(--color-font-grey);
  block-size: 14px;
  inline-size: 14px;
  position: absolute;
  transition: border 0.13s ease-in-out, box-shadow 0.13s ease-in-out;
}

.events-form .radio-button::before {
  border-radius: 50%;
}

.events-form .checkbox-button::before {
  border-radius: 2px;
}

.events-form .checkbox-button::after {
  content: '';
  display: block;
  position: absolute;
  box-sizing: border-box;
  block-size: 10px;
  inline-size: 10px;
  inset: 0;
  margin: auto;
  scale: 0;
  opacity: 0;
  transition: scale 0.13s ease-in-out, opacity 0.13s;
}

.events-form .checkbox-input:checked + .checkbox-button::after {
  opacity: 1;
  scale: 1;
  background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDI2LjUuMCwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPgo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB4bWw6c3BhY2U9InByZXNlcnZlIj4KPHBhdGggZD0iTTMuNSA5LjVhLjk5OS45OTkgMCAwMS0uNzc0LS4zNjhsLTIuNDUtM2ExIDEgMCAxMTEuNTQ4LTEuMjY0bDEuNjU3IDIuMDI4IDQuNjgtNi4wMUExIDEgMCAwMTkuNzQgMi4xMTRsLTUuNDUgN2ExIDEgMCAwMS0uNzc3LjM4NnoiIGZpbGw9IiNmZmYiPjwvcGF0aD4KPC9zdmc+Cg==");
  background-size: contain;
}

.events-form .radio-input:checked + .radio-button::before {
  border-width: 5px;
  border-color: var(--color-gray-700);
}

.events-form .checkbox-input:checked + .checkbox-button::before {
  border-width: 7px;
  border-color: var(--color-gray-700);
}

.events-form .check-item-label {
  font-size: var(--type-body-xs-size);
  font-weight: normal;
  margin-left: var(--spacing-xxs);
  padding-bottom: 0;
}

.events-form .events-form-legal-wrapper p {
  font-size: var(--type-body-xxs-size);
  line-height: var(--type-body-xxs-lh);
  font-style: italic;
}

.events-form .field-button-wrapper {
  margin-bottom: 0;
}

.events-form button {
  font-size: var(--type-body-s-size);
  background-color: var(--link-color);
  min-width: 114px;
  height: 40px;
  line-height: 20px;
  padding: 9px 16px;
  border: 0;
  border-radius: 24px;
  color: #fff;
  font-weight: 700;
  width: 100%;
  box-shadow: none;
  margin: 0 auto;
  cursor: pointer;
  transition: background-color 0.13s, color 0.13s;
}

.events-form button:disabled {
  background-color: var(--color-gray-200);
  color: var(--color-gray-400);
  cursor: not-allowed;
}

.events-form button:disabled.submitting {
  cursor: progress;
}

.events-form button.outline {
  background-color: transparent;
  border: 2px solid var(--link-color);
  color: var(--link-color);
}

.events-form .divider {
  border-top: 1px var(--color-gray-200) solid;
  margin: 16px 0;
  padding: 0;
}

.events-form .thank-you {
  text-align: center;
}

.events-form .rsvp-status-label {
  padding: 16px;
  border-radius: 8px;
  background: var(--color-gray-200);
}

.events-form .terms-and-conditions-wrapper .checkbox-wrapper {
  display: flex;
  align-items: flex-start;
}

.events-form .terms-and-conditions-wrapper .checkbox-wrapper input[type='checkbox'] {
  width: auto;
  margin: 6px 8px;
}

.events-form .field-wrapper.events-form-submit-wrapper button {
  background-color: var(--color-black);
  font-family: var(--body-font-family);
}

.events-form .field-wrapper.events-form-submit-wrapper button:disabled {
  background-color: var(--color-gray-200);
  color: var(--color-gray-400);
}

.events-form .form-success-msg {
  position: relative;
  text-align: center;
  padding: 80px 40px;
  min-height: 300px;
}

.events-form .form-success-msg > div:not(.hidden) {
  height: 100%;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.events-form .form-success-msg > .second-screen > hgroup {
  flex-basis: 56%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.events-form .form-success-msg h1,
.events-form .form-success-msg h2,
.events-form .form-success-msg h3,
.events-form .form-success-msg h4,
.events-form .form-success-msg h5,
.events-form .form-success-msg p {
  max-width: 630px;
  margin-top: 0;
}

.events-form .form-success-msg p.eyebrow {
  font-size: var(--type-heading-s-size);
  line-height: var(--type-heading-s-lh);
}

.events-form .form-success-msg .post-rsvp-button-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  gap: 1rem;
}

.events-form *.hidden {
  display: none;
}

.events-form p.error {
  margin: 0;
  grid-column: 1 / 3;
  justify-self: center;
  padding: 8px 16px;
  border-radius: 8px;
  background-color: var(--color-red);
  color: white;
}

@media screen and (min-width: 600px) {
  .events-form form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0 var(--spacing-l);
    align-items: start;
  }

  .events-form form .first-form-section {
    flex-direction: row;
    width: 100%;
  }
  
  .events-form form .first-form-section .first-form-section-input-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0 var(--spacing-l);
    align-items: start;
    width: 100%;
  }
  
  .events-form :is(.events-form-submit-wrapper:last-child, .events-form-heading-wrapper, .thank-you, .events-form-full-width) {
    grid-column: 1 / 3;
    justify-self: center;
  }

  .events-form .events-form-checkbox-group-wrapper.events-form-full-width .group-container.checkbox-group-container {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
  }

  .events-form .events-form-checkbox-group-wrapper.events-form-full-width .group-container.checkbox-group-container .check-item-wrap.checkbox-input-wrap {
    width: auto;
  }

  .events-form .field-button-wrapper {
    grid-column: 1;
    justify-self: self-end;
    width: auto;
    margin-top: var(--spacing-s);
  }

  .events-form .field-button-wrapper + .field-button-wrapper {
    grid-column: 2;
    justify-self: self-start;
  }

  .events-form button {
    width: initial;
  }

  .events-form {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    padding: 20px;
    background-color: #f5f5f5;
}

/* Recommended Events Section */
.events-form .recommended-events {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  max-width: 1200px;
  margin: 0 auto;
}

/* Header for the Recommended Events Section */
.events-form .section-header {
  font-size: 2em;
  margin-bottom: 20px;
  color: #333;
  font-weight: bold;
}

/* Carousel Container */
.events-form #card-container {
  display: flex;
  overflow-x: auto;
  gap: 20px;
  padding: 10px 0;
  scrollbar-width: none; /* Firefox */
}

.events-form #card-container::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

/* Event Card Styles */
.events-form .event-card {
  background: white;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  flex-shrink: 0;
  width: 300px;
  transition: transform 0.3s;
  display: flex;
  flex-direction: column;
}

.events-form .event-card:hover {
  transform: scale(1.05);
}

/* Card Header Image */
.events-form .card-header {
  height: 180px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  overflow: hidden;
}

.events-form .card-header img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Card Content */
.events-form .card-content {
  padding: 15px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

/* Title in Event Card */
.events-form .card-title {
  font-size: 1.2em;
  margin: 0 0 10px;
  color: #333;
  font-weight: bold;
}

/* Description in Event Card */
.events-form .card-description {
  font-size: 0.95em;
  color: #666;
  margin-bottom: 15px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3; /* Limit description to 3 lines */
  overflow: hidden;
}

/* Card Details (Date) */
.events-form .card-details {
  font-size: 0.85em;
  color: #999;
  margin-bottom: 15px;
}

/* View Event Button */
.events-form .consonant-BtnInfobit {
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  border-radius: 25px;
  text-decoration: none;
  font-size: 0.85em;
  font-weight: bold;
  transition: background-color 0.3s;
}

.events-form .consonant-BtnInfobit:hover {
  background-color: #333;
}


}

@media screen and (min-width: 900px) {
  .events-form .event-form-hero {
    flex-direction: row;
  }

  .events-form .field-wrapper {
    display: flex;
  }

  .events-form label {
    width: 72%;
  }

  .events-form .terms-and-conditions-wrapper .checkbox-wrapper label {
    width: auto;
  }

  .events-form .form-success-msg {
    min-width: 720px;
  }

  .events-form .form-success-msg .post-rsvp-button-wrapper {
    gap: 1rem;
  }
}
