.venue-additional-info {
  padding: var(--spacing-m);
  max-width: 800px;
}

.venue-additional-info .additional-image-container img {
  width: 100%;
}

.venue-additional-info .text-wrapper {
  padding-top: var(--spacing-xs);
  font-size: var(--type-body-s-size);
  line-height: var(--type-body-s-lh);
}

.venue-additional-info ul,
.venue-additional-info ol {
  padding: 0 1rem;
  margin: 1rem 1rem 1rem .6rem
}

.venue-additional-info ul ul,
.venue-additional-info ul ol,
.venue-additional-info ol ol,
.venue-additional-info ol ul {
  padding: 0 1rem;
  margin-top: 0;
  margin-bottom: 0;
}

.venue-additional-info .text-wrapper li p {
  margin: 0.5em 0;
}

.venue-additional-info .text-wrapper > *:last-child {
  margin-bottom: 0;
}

.venue-additional-info .venue-name-text {
  margin-top: 0;
  font-size: var(--type-body-xs-size);
  text-transform: uppercase;
}
