.carousel-plugin {
  /* Scope variables to carousel */
  --carousel-slide-button-height: 40px;
  --carousel-slide-button-width: var(--carousel-slide-button-height);
  --carousel-slide-button-height-desktop: 32px;
  --carousel-slide-button-width-desktop: var(--carousel-slide-button-height-desktop);
  --carousel-focus-color: #109cde;
  --carousel-ligthbox-active-text-color: #fff;
  --carousel-button-background-color: #fafafa;
  --carousel-button-box-shadow-color: #2680eb;
  --carousel-button-border-color: #e1e1e1;
  --carousel-button-border-hover-color: #cacaca;
  --carousel-button-border-focus-color: #378ef0;
  --carousel-indicator-background-color: var(--carousel-button-border-hover-color);
  --carousel-indicator-active-background-color: #4b4b4b;
  --carousel-expand-background-color: rgb(255 255 255 / 75%);
  --carousel-expand-border-color: rgb(116 116 116 / 30%);

  position: relative;
  margin-bottom: 1.8rem;
}

.carousel-plugin .carousel-wrapper {
  position: relative;
  overflow: hidden;
}

.carousel-plugin .carousel-previous,
.carousel-plugin .carousel-next {
  background-color: var(--carousel-button-background-color);
  border-radius: 100%;
  border-style: solid;
  border-width: 1px;
  border-color: var(--carousel-button-border-color);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  outline: 0;
  height: var(--carousel-slide-button-height);
  width:  var(--carousel-slide-button-width);
  position: absolute;
  top: calc(45% - var(--carousel-slide-button-height) / 2);
  transition: background .3s ease, outline .3s ease, border .3s ease, box-shadow .3s ease;
  z-index: 2;
}

.carousel-plugin .carousel-next {
  right: 0.3rem;
}

.carousel-plugin .carousel-previous {
  left: 0.3rem;
}

.container .carousel-next {
  right: -1.3rem;
}

.container .carousel-previous {
  left: -1.3rem;
}

.carousel-plugin.no-buttons .carousel-previous,
.carousel-plugin.no-buttons .carousel-next {
  display: none;
}

.carousel-plugin .carousel-previous:hover,
.carousel-plugin .carousel-next:hover,
.carousel-plugin .carousel-previous:active,
.carousel-plugin .carousel-next:active {
  background-color: #fff;
  border-color: var(--carousel-button-border-hover-color);
}

.carousel-plugin .carousel-previous:focus,
.carousel-plugin .carousel-next:focus {
  border-color: var(--carousel-button-border-focus-color);
  box-shadow: 0 0 0 2px var(--carousel-button-box-shadow-color);
  outline: none;
}

.carousel-plugin .carousel-previous img,
.carousel-plugin .carousel-next img {
  height: 16px;
  width: 10px;
  margin-left: 2px;
}

.carousel-plugin .carousel-previous img {
  margin-right: 2px;
  transform: rotate(180deg);
}

.carousel-plugin .carousel-previous:hover img,
.carousel-plugin .carousel-next:hover img,
.carousel-plugin .carousel-previous:active img,
.carousel-plugin .carousel-next:active img,
.carousel-plugin .carousel-previous:focus img,
.carousel-plugin .carousel-next:focus img {
  filter: brightness(0.5);
}

.carousel-slides {
  display: flex;
  align-items: center;
  left: -100%;
  position: relative;
  transform: translateX(100%);
  transform-style: preserve-3d;
  margin-bottom: 1rem;
  scroll-snap-type: x mandatory;
  will-change: transform;
}

html[dir="rtl"] .carousel-slides {
  flex-direction: row-reverse;
}

.carousel-slides.is-reversing {
  transform: translateX(-100%);
}

.carousel-slide {
  flex: 1 0 100%;
  order: 1;
  opacity: .3;
  transition: opacity 0.5s ease-in-out;
}

html[dir="rtl"] .carousel-slides .section.carousel-slide {
  direction: rtl;
}

.none .carousel-slide {
  opacity: 1;
  transition: opacity;
}

.carousel-slide.reference-slide {
  order: 1;
}

.carousel-slide.active {
  opacity: 1;
} 

.carousel-slides.is-ready,
.carousel-slides.is-ready.is-reversing,
.show-2 .carousel-slides.is-ready,
.show-2 .carousel-slides.is-ready.is-reversing,
.show-3 .carousel-slides.is-ready,
.show-3 .carousel-slides.is-ready.is-reversing,
.show-4 .carousel-slides.is-ready,
.show-4 .carousel-slides.is-ready.is-reversing,
.show-5 .carousel-slides.is-ready,
.show-5 .carousel-slides.is-ready.is-reversing,
.show-6 .carousel-slides.is-ready,
.show-6 .carousel-slides.is-ready.is-reversing {
  transform: none;
  transition: transform .6s cubic-bezier(0.23, 1, 0.32, 1);
}

.none .carousel-slides.is-ready,
.none .carousel-slides.is-ready.is-reversing,
.fade .carousel-slides.is-ready,
.fade .carousel-slides.is-ready.is-reversing {
  transition: transform;
}

.carousel-plugin .carousel-controls {
  display: flex;
  padding-bottom: 3px;
  position: absolute;
  left: 50%;
  right: auto;
  top: auto;
  bottom: 0;
  transform: translateX(-50%);
}

.carousel-plugin .carousel-indicators {
  list-style: none;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  flex: 0 1 auto;
  margin: 0;
  padding: 2px 0;
}

.carousel-plugin .carousel-indicator {
  font-size: 0;
  position: relative;
  flex: 0 1 auto;
  margin: 0 4px;
}

.carousel-plugin .carousel-indicator::after {
  content: "";
  background-color: var(--carousel-indicator-background-color);
  display: block;
  height: 8px;
  left: 50%;
  position: relative;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 8px;
  border-radius: 50%;
}

.carousel-plugin .carousel-indicator.active::after {
  background-color: var(--carousel-indicator-active-background-color);
}

.carousel-plugin.lightbox-active .carousel-indicators {
  display: none;
}

/* Lightbox */
.carousel-plugin.lightbox-active {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 104;
  align-items: center;
  height: 100%;
  display: flex;
  justify-content: center;
  width: 100%;
  overflow: hidden auto;
}

.carousel-plugin.lightbox-active .carousel-wrapper {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.carousel-plugin.lightbox-active.container .carousel-wrapper {
  width: 90%;
}

.carousel-curtain {
  content: '';
  -webkit-backdrop-filter: blur(0.25em);
  backdrop-filter: blur(0.25em);
  background:rgb(255 255 255 / 90%);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.carousel-plugin.lightbox-active .carousel-previous,
.carousel-plugin.lightbox-active .carousel-next {
  top: calc(48% - var(--carousel-slide-button-height-desktop) / 2);
  z-index: 105;
  position: fixed;
}

.carousel-plugin.lightbox-active.container .carousel-next {
  right: 1rem;
}

.carousel-plugin.lightbox-active.container .carousel-previous {
  left: 1rem;
}

.carousel-plugin.lightbox-active .carousel-slides {
  width: 100%;
}

.carousel-plugin.lightbox .lightbox-button {
  background-color: transparent;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  position: absolute;
  top: 5px;
  right: 5px;
  padding: 3px 2px 0 4px;
  width: 44px;
  height: 44px;
}

.carousel-plugin .carousel-expand,
.carousel-plugin .carousel-close,
.carousel-plugin.lightbox .carousel-close {
  display: none;
}

.carousel-plugin.lightbox .carousel-expand,
.carousel-plugin.lightbox-active .carousel-close {
  display: block;
}

.carousel-plugin.lightbox .carousel-expand:focus-visible {
  outline: none;
}

.carousel-plugin.lightbox .carousel-expand:focus-visible > img {
  border-radius: 4px;
  border: 2px solid var(--carousel-focus-color);
  padding: 3px;
}

.carousel-plugin.lightbox.lightbox-active .carousel-expand {
  display: none;
}

.carousel-plugin .carousel-expand img {
  background-color: var(--carousel-expand-background-color);
  box-sizing: content-box;
  border: 1px solid var(--carousel-expand-border-color);
  border-radius: 4px;
  padding: 2px 1px 2px 3px;
  width: 20px;
}

.carousel-plugin.lightbox .carousel-close {
  background-color: transparent;
  border: none;
}

.carousel-plugin.lightbox .carousel-close:focus-visible {
  outline: none;
}

.carousel-plugin.lightbox .carousel-close:focus-visible > svg {
  border-radius: 50%;
  border: 2px solid var(--carousel-focus-color);
  padding: 3px;
}

.carousel-plugin.lightbox.lightbox-active .lightbox-button {
  position: fixed;
}

.carousel-plugin.lightbox .lightbox-button img {
  transition: background .2s ease;
}

.carousel-plugin.lightbox .lightbox-button:hover img {
  background-color: rgb(255 255 255 / 95%);
}

.carousel-plugin.lightbox .carousel-close:hover {
  background-color: transparent;
}

/* End Lightbox */

/* Corrects backgournd images coming from section metadata */
.carousel-plugin .carousel-slide.has-background {
  position: relative;
}

/* Multiple slides reset for nested blocks foreground */
.carousel-plugin.show-2 .carousel-slide .foreground,
.carousel-plugin.show-3 .carousel-slide .foreground,
.carousel-plugin.show-4 .carousel-slide .foreground,
.carousel-plugin.show-5 .carousel-slide .foreground,
.carousel-plugin.show-6 .carousel-slide .foreground { width: auto; }

.carousel-plugin.container .carousel-slide .foreground:not(.icon-block .foreground) {
  max-width: unset;
  margin: unset;
}

.carousel-plugin.container .carousel-slide .container {
  width: unset;
}

/* Zero out spacing token on carousel-slide */
.carousel-plugin.container .carousel-slide.section.xs-spacing,
.carousel-plugin.container .carousel-slide.section.s-spacing,
.carousel-plugin.container .carousel-slide.section.m-spacing,
.carousel-plugin.container .carousel-slide.section.l-spacing,
.carousel-plugin.container .carousel-slide.section.xl-spacing,
.carousel-plugin.container .carousel-slide.section.xxl-spacing,
.carousel-plugin.container .carousel-slide.section.xxxl-spacing { padding: 0; }

/* Apply spacing token to block inside of slide */
.carousel-plugin.container .carousel-slide.xs-spacing > div,
.carousel-plugin.container .carousel-slide .xs-spacing { padding: var(--spacing-xs); }

.carousel-plugin.container .carousel-slide.s-spacing > div,
.carousel-plugin.container .carousel-slide .s-spacing { padding: var(--spacing-s); }

.carousel-plugin.container .carousel-slide.m-spacing > div,
.carousel-plugin.container .carousel-slide .m-spacing { padding: var(--spacing-m);  }

.carousel-plugin.container .carousel-slide.l-spacing > div,
.carousel-plugin.container .carousel-slide .l-spacing { padding: var(--spacing-l); }

.carousel-plugin.container .carousel-slide.xl-spacing > div,
.carousel-plugin.container .carousel-slide .xl-spacing { padding: var(--spacing-xl); }

.carousel-plugin.container .carousel-slide.xxl-spacing > div,
.carousel-plugin.container .carousel-slide .xxl-spacing { padding: var(--spacing-xxl); }

.carousel-plugin.container .carousel-slide.xxxl-spacing > div,
.carousel-plugin.container .carousel-slide .xxxl-spacing { padding: var(--spacing-xxxl); }

@media (min-width: 900px) {
  .carousel-plugin.lightbox-active.container .carousel-wrapper {
    width: 80.3333%;
  }

  .carousel-plugin.lightbox-active .carousel-plugin.slides {
    max-width: initial;
  }

  .carousel-plugin .carousel-previous,
  .carousel-plugin .carousel-next {
    height: var(--carousel-slide-button-height-desktop);
    width: var(--carousel-slide-button-width-desktop);
    top: calc(45% - var(--carousel-slide-button-height-desktop) / 2);
  }

  .carousel-plugin .carousel-next {
    right: 1rem;
  }

  .carousel-plugin .carousel-previous {
    left:1rem;
  }

  .container .carousel-previous {
    left: -3rem;
  }

  .container .carousel-next {
    right: -3rem;
  }

  html[dir="rtl"] .carousel-plugin .carousel-next {
    left: 1rem;
    right: initial;
    transform: rotate(180deg);
  }

  html[dir="rtl"] .carousel-plugin .carousel-previous {
    right: 1rem;
    left: initial;
    transform: rotate(180deg);
  }

  html[dir="rtl"] .container .carousel-previous {
    right: -3rem;
    left: initial;
    transform: rotate(180deg);
  }

  html[dir="rtl"] .container .carousel-next {
    left: -3rem;
    right: initial;
    transform: rotate(180deg);
  }

  .carousel-plugin.lightbox-active.container .carousel-previous {
    left: 4.5rem;
  }

  .carousel-plugin.lightbox-active.container .carousel-next {
    right: 4.5rem;
  }

  .carousel-slides {
    left: -100%;
    transform: translateX(100%);
  }

  .carousel-slides.is-reversing {
    transform: translateX(-100%);
  }

  .carousel-slide {
    flex-basis: 100%;
  }

  .show-2 .carousel-slides {
    left: -50%;
    transform: translateX(50%);
  }

  .show-2 .carousel-slides.is-reversing {
    transform: translateX(-50%);
  }

  .show-2 .carousel-slide {
    flex-basis: 50%;
  }

  .show-3  .carousel-slides {
    left: -33.3333%;
    transform: translateX(33.3333%);
  }

  .show-3 .carousel-slides.is-reversing {
    transform: translateX(-33.3333%);
  }

  .show-3 .carousel-slide {
    flex-basis: 33.3333%;
  }

  .show-4  .carousel-slides {
    left: -25%;
    transform: translateX(25%);
  }

  .show-4 .carousel-slides.is-reversing {
    transform: translateX(-25%);
  }

  .show-4 .carousel-slide {
    flex-basis: 25%;
  }

  .show-5  .carousel-slides {
    left: -20%;
    transform: translateX(20%);
  }

  .show-5 .carousel-slides.is-reversing {
    transform: translateX(-20%);
  }

  .show-5 .carousel-slide {
    flex-basis: 20%;
  }

  .show-6  .carousel-slides {
    left: -16.6667%;
    transform: translateX(16.6667%);
  }

  .show-6  .carousel-slides.is-reversing {
    transform: translateX(-16.6667%);
  }

  .show-6 .carousel-slide {
    flex-basis: 16.6667%;
  }

  .carousel-plugin.show-2 .carousel-slide,
  .carousel-plugin.show-3 .carousel-slide,
  .carousel-plugin.show-4 .carousel-slide,
  .carousel-plugin.show-5 .carousel-slide,
  .carousel-plugin.show-6 .carousel-slide {
    opacity: 1;
  }
  
  .carousel-plugin.show-2 .carousel-indicators,
  .carousel-plugin.show-3 .carousel-indicators,
  .carousel-plugin.show-4 .carousel-indicators,
  .carousel-plugin.show-5 .carousel-indicators,
  .carousel-plugin.show-6 .carousel-indicators {
    display: none;
  }
}
