.preview-bar {
  padding: 0 20px;
  box-sizing: border-box;
  height: 96px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: var(--color-gray-200);
  position: fixed;
  top: 0;
  z-index: 10;
  box-shadow: 0 3px 6px 0 rgb(0 0 0 / 16%);
}

.preview-bar .event-status img.icon {
  margin-right: 8px;
}

.preview-bar .preview-info {
  font-size: var(--type-body-xs-size);
  gap: 32px;
}

.preview-bar .preview-info-item {
  white-space: nowrap;
}

.preview-bar .preview-info-key {
  font-weight: 900;
}

.preview-bar .preview-info-val {
  font-weight: 700;
}

.preview-bar .preview-actions .preview-close-btn {
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
  transition: transform 0.2s;
}

.preview-bar .preview-actions .preview-close-btn:hover {
  transform: scale(1.1);
}

@media screen and (min-width: 900px) {
  .preview-bar {
    padding: 0 40px;
    height: 64px;
  }
  
  .preview-bar .preview-info {
    font-size: var(--type-body-m-size);
    display: flex;
  }
}
